.container-footer{
    padding-top: 0px;
    animation-name: container-footer;
    animation-duration: .6s;
}
@keyframes container-footer{
    0%{
        transform: translateY(180%);
    }
    100%{
        transform: translateY(0%);
    }
}

.container_txt_footer{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    margin-top: 1px;
}
.contact-backgr{
    /* max-width: 320px; */

    width: 25%;
    /* margin-top: 30px; */
    /* max-width: 250px; */
    padding-right: 20px;
    /* width: 250px; */
    /* height: 50px; */
    /* background-color: rgb(17, 17, 17); */
    border-radius: 25px;
    margin-left: 40px;
}
.href_dfomic{
    min-width: 130px;
    max-width: 250px;
    width: 90%;
    text-decoration: none;
    color: #007068;
    padding: 10px 30px 10px 30px;
    /* font-size: 20px; */
    font-size: clamp(6px, 10 * (1vw + 1vh) / 18, 25px);
    background-color: rgb(17, 17, 17);
    border-radius: 25px;
    word-wrap: break-word;
}
.href_strela{
    min-width: 130px;
    max-width: 250px;
    width: 90%;
    text-decoration: none;
    text-align: center;
    color: #007068;
    padding: 10px 30px 10px 30px;
    /* font-size: 20px; */
    font-size: clamp(6px, 10 * (1vw + 1vh) / 18, 25px);
    background-color: rgb(17, 17, 17);
    border-radius: 25px; 
}
.contact{
    /* width: 70%; */
    max-width: 250px;
    min-width: 130px;
    width: 90%;
    text-align: center;
    margin:  auto;
    color: #007068;
    padding: 10px 30px 10px 30px;
    /* max-width: 200px; */

    /* font-size: 20px; */
    font-size: clamp(6px, 10 * (1vw + 1vh) / 18, 25px);
    background-color: rgb(17, 17, 17);
    border-radius: 25px;

    
}
.info_backgr_cont{
    /* margin-top: 30px; */
    /* max-width: 200px; */
    /* width: 80%; */
    text-align: center;
    
    /* height: 50px; */
    max-width: 250px;
    /* width: 100%; */
    margin: 0 auto;
    
}
.ib2{
    margin: 0 auto;
}


@keyframes rotate {
        to {
            --angle: 720deg;
        }
    }
    
    @property --angle {
      syntax: '<angle>';
      initial-value: 0deg;
      inherits: false;
    }
.policy{
    /* margin: 0; */
    width: 100%;
    /* position: absolute; */
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    /* margin-left: 18%; */
    /* margin: 0 auto; */
    /* margin-top: 100px; */
    color: #333;
    /* margin-top: 3%; */
    /* bottom: 0; */
    font-size: clamp(10px, 10 * (1vw + 1vh) / 16, 18px);


}
.span_mail{
    color: #007068;
}


.footer_text{
    /* padding-top: 10px; */
    padding-left: 40px;
    margin: 0;
    /* padding-right: 40px; */
    /* padding-bottom: 0px;  */
    line-height: 30px;
    /* font-size: clamp(10px,  16px, 40px);  */
    font-size: clamp(10px, 10 * (1vw + 1vh) / 16, 18px);

    color: #FFFFFF;
    text-shadow: 0px 0px 10px #007068;
    width: 650px;
    /* padding-bottom: 50px; */
}
.info_backgr_two{
    word-wrap: 20px;
    margin-top: 30px;
    text-align: center;
    /* max-width: 200px; */
    max-width: 260px;
    /* height: 50px; */

}

/* Кнопка */


.wrapper {
    /* max-width: 200px; */
    margin-top: 5%;
    /* margin-left: 60%; */
    /* margin: 0 auto; */
    float: right;
    transform: translate(-25%, -17%);
    /* position: relative;
    z-index: 99; */
    
}

.a1 {
    width: 300px;
    height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #009b91;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #009b91;
    transition: all .35s;
    padding: 10px 40px;
    font-size: 25px;
}

.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    top: 0;
    right: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #009b91;
    transition: all .35s;
}

.a1:hover {
    width: 240px;
    border: 3px solid #009b91;
    background: transparent;
    color: #009b91;
}

.a1:hover+.icon {
    border: 3px solid #009b91;
    right: -20%;
}

@media screen and (max-width: 768px) {
    .container_txt_footer{
        width: 100%;
        display: block;
    }
    .contact-backgr{
        width: 100%;
        /* margin:  auto; */
        padding: 0px;
        margin-left: 0px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 0px;
    }
    .info_backgr_two{
        /* width: 30%; */
        margin: 0;
        margin-top: 0px;
        /* margin-left: 20px; */
    }
    .href_dfomic{
        width: 40%;
        text-decoration: none;
    }
    .href_strela{
        width: 40%;
        text-decoration: none;
        text-align: center; 
    }
    .contact{
        display: block;
        margin: 15px auto;

    }
    .info_backgr_cont{
        /* margin-left: 30px; */
        /* height: 10px; */
        /* width: 30%; */
        margin: 0;
        
    }
    .footer_text{
        width: 90%;
        margin: 0 auto;
        text-align: justify;
        padding-left: 0px;
        /* font-size: clamp(10px, 10 * (1vw + 1vh) / 12, 18px); */

    }
    .wrapper{
        /* float: none; */
        /* width: 200px; */
    }
    .a1{
        width: 190px;
        height: 40px;
        font-size: 14px;
        /* font-size: 3px; */
    }
    .a1:hover{
        width: 175px;
    }
    .a1:hover+.icon{
        right: -20%;

    }
    .icon{
        width: 40px;
        height: 40px;
    }
    .policy{
        margin-top: 15%;
        /* bottom: 0; */
    }
}

@media screen and (max-width: 540px) {
    .contact-backgr{
        justify-content: space-between;
    }
    .contact{
        min-width: 70px;
        width: 100%;
    }
    .href_strela{
        min-width: 70px;
        width: 100%;
    }
    .href_dfomic{
        min-width: 70px;
        width: 100%;

    }
    .info_backgr_two{
        
    }
}


